<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>We miss you, <%= @user.name %></h1>
    <p>
      We notice you haven't visited our site in a while. Come back, there plenty to see and do!
    </p>

    <p>See you soon!</p>
  </body>
</html>